<div id='screen-selector-item-{{id}}' class="screen-selector-item column">
  <div class="ui {{#if selected}}green{{/if}}  segment">
    <img class="ui medium image centered " src={{imageBase64}}>
  </div>
</div>
