<div id="light-bulb-group-selector" class="ui grid">

  {{#each lightBulbs}}
  <div class="four wide mobile four wide tablet four wide computer column">
    <div id="{{selector}}" data-id="{{lightId}}" class="ui segment" draggable="true">
      <div style="background-color:white; ">
        <div>
          <h2 class="ui header">
            <i class="fitted idea icon"></i>
            {{name}}
          </h2>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

</div>
